{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
  <div class="post">
       <h2><a href="{% url 'pyblog.views.post_detail' pk=post.id %}">{{post.title}}</a></h2>
       <div class="info">
           <span class="date">{{post.published_date}}</span>
           <span class="comments">2 条评论</span>
           <span class="comments">53 人阅读&nbsp;&nbsp;</span>
           <div class="fixed"></div>
       </div>
       <div class="content">
           <p> {{post.text|truncatechars:50}}  <a href="/post/detail/{{post.id}}/">查看全文...</a></p>
       </div>
       <div class="under">
           <span class="categories">分类: </span>
           <span>
               <a href="https://yidaoblog.herokuapp.com/posts/category/Linux" rel="category tag">Linux
               </a>
           </span>
           <span class="tags">标签: </span>
           <span>
           		<a href="https://yidaoblog.herokuapp.com/posts/tag/%E8%BF%AD%E4%BB%A3" rel="tag">迭代</a>&nbsp;
           </span>
       </div>
   </div>
{% endfor %}
<div class="text-right">
  <ul class="pagination">
        <li class="disabled"><span class="disabled prev">‹‹ 上一页</span></li>
        <li class="active"><span class="current page">1</span></li>
        <li><a href="https://yidaoblog.herokuapp.com/?page=2" class="page">2</a></li>
        <li><a href="https://yidaoblog.herokuapp.com/?page=2" class="next">下一页 ››</a></li>
    
  </ul>
</div>
{% endblock content %}